body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#login,
#fgtPass {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(./media/background.jpg);
  background-size: 100%;
}
#registration {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#login form,
#fgtPass form,
#registration form {
  min-width: 600px;
}

.errorMessage {
  color: red;
}

.navbar-brand {
  display: flex;
  align-items: center;
}
.navbar-brand > img {
  padding: 7px 14px;
}
